body { 
    background-color: black;
    color: yellow;
}
h1 {
    font-size: 36px;
    color: white;
    text-align: center;
}
body {
    background-color: black;
    color: yellow;
}
h2 {
  color: orange;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
.pretty {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    z-index: 10;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: darkblue;
    text-align: center;
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    position: relative;
}
.common {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    border: 2px solid black;
    position: absolute;
}
.left {
    left: 10px;
    top: 150px;
    width: 200px;
    height: 100px;
}
.main {
    left: 250px;
    top: 150px;
    width: 500px;
    height: 300px;
}
.right {
    right: 10px;
    top: 150px;
    width: 200px;
    height: 100px;
}
.footer {
    left: 10px;
    bottom: 150px;
    width: 940px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    position: fixed;
    background-color: beige;
    border: 2px solid blue;
}